html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    font-family: 'Bebas Neue', sans-serif;
    font-size:x-large;
    background-color: #fff200;
    color: #000000;
    text-align: center;
    padding: 10px;
}

#name{
    font-family: 'Pacifico', cursive;
    font-size: 50pt;
    margin:0;
    /* text-underline-offset:40px;
    text-decoration-line: underline;
    text-decoration-style:dashed;
    text-decoration-color: rgb(255, 140, 249); */
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
}

h2 {
    font-family: 'Bebas Neue', sans-serif;
    text-underline-offset:8px;
    text-decoration-line: underline;
    text-decoration-style:wavy;

}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #000000;
    padding: 10px;
    position: sticky;
    top: 0px;
    z-index: 999;
    
}

nav button, footer button, #coding button {
    font-family: 'Bebas Neue', sans-serif;
    background: #000000;
    border-style:solid;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    padding: 5px 10px;
    
}

nav button:hover, footer button:hover, #coding button:hover{
    background-color: rgb(255, 140, 249);
    color: #000000;
}
nav button:active, footer button:active, #coding button:active {
    background-color: #fff200;
    color: #000000;
    box-shadow: 4px 4px rgb(255, 140, 249);
}

section {
    padding: 5px;
    text-align: center;
    margin-top: 10px; 
}

#typographic, #reflective{
    border-bottom: #000000;
    border-bottom-width: 3px;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-radius: 5%;
    border-top: #000000;
    border-top-width: 3px;
    border-top-width: 3px;
    border-top-style: solid;
    background-color: rgb(255, 234, 254);
}
#reflective {
    border-bottom-width: 0px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}

.collection {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.collection img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

.collection img:hover {
    transform: scale(1.2);
    transition: 0.4s;
}
.collection img.code-img:hover{
    transform: none;
}
.code-button {
    margin: 10px;
}
.collection-item {
    margin: 10px;
    max-width: 20%;
}
.code-item {
    margin: 10px;
    min-width: 200px;
    max-width: 40%;
}

.image-description {
    margin-top: 10px;
}

.reflective-content {
    margin-top: 20px;
}

footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    border-top: #fff200;
    border-top-width: 5px;
    border-top-style:solid;
}


/* MOBILE VIEW*/
/*Uses a media querey to check if viewport =<768px, then if true - change the order of navgation and make 
elements display in a single column */
@media (max-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    nav {
        order: -1;
    }

    section {
        flex: 1;
    }
    .image-container {
    margin: 10px;
    max-width: 100%;
    }
}
/*Adjust following elements when viewport is bellow 440px*/
@media (max-width: 440px) {
    #name{
        font-size: 30pt;
        margin:0;
        text-underline-offset:none;
        text-decoration-line: none;
        text-decoration-style:none;
        text-decoration-color: rgb(255, 140, 249);
    }
    nav button, footer button {
        font-size: 10px;
        padding: 2px 10px;
    }
    #typographic, #reflective{
        border-radius: 0%;  
    }
}